config.json
2025年张家山店3月电表.xlsx
2025年日报表.xlsx
__pycache__/
backup.sh
main.bin
test.py
main.spec
bak/
build/
dist/
nas/
temp/2025年日报表.xlsx
venv/
et/
./worktime.json
./douyin.json
./worktime/members_json.json
./worktime/userIDs.json

./sh/douyin.json
./schedule/right_data.json

*.json
*.xlsx
*.har
*.png

./ui/


myapp.log
log/debug.log
